<div class="container-fluid cont">
    <mat-card>
        <mat-card-title>Show Books</mat-card-title>
        <br>
        <mat-dialog-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="bookName">
                    <th mat-header-cell *matHeaderCellDef> Book Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.bookName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="authorName">
                    <th mat-header-cell *matHeaderCellDef> Author Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.authorName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="bookPrice">
                    <th mat-header-cell *matHeaderCellDef> Book Price (INR) </th>
                    <td mat-cell *matCellDef="let element"> {{element.bookPrice}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="bookGenere">
                    <th mat-header-cell *matHeaderCellDef> Book Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.bookGenere}} </td>
                </ng-container>

                <ng-container matColumnDef="fromDate">
                    <th mat-header-cell *matHeaderCellDef> From Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.fromDate}} </td>
                </ng-container>

                <ng-container matColumnDef="toDate">
                    <th mat-header-cell *matHeaderCellDef> To Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.toDate}} </td>
                </ng-container>

                <ng-container matColumnDef="noOfDays">
                    <th mat-header-cell *matHeaderCellDef> No Of Days</th>
                    <td mat-cell *matCellDef="let element"> {{element.noOfDays}} </td>
                </ng-container>


                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-fab style="background-color: yellow;color: blue;" (click)="editBook(element.bookId)"
                            aria-label="Example icon button with a delete icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-fab color="warn" style="margin-left: 3px;" (click)="deleteBook(element.bookId)"
                            aria-label="Example icon button with a delete icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </mat-dialog-content>
    </mat-card>
</div>